---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - healthxcape.com
    - www.healthxcape.com
    secretName: frontend-tls-prod
  rules:
  - host: healthxcape.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: auth-frontend
            port:
              number: 3000
  - host: www.healthxcape.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: auth-frontend
            port:
              number: 3000
